---
import Rating from "../boxes/rating.astro";
---

<div
  class="flex flex-col max-w-6xl px-6 lg:px-8 mx-auto lg:flex-row mt-12 lg:space-x-12"
>
  <div
    class="flex flex-col justify-start items-start w-full pr-10 mb-12 lg:w-1/2 lg:mb-0"
  >
    <div class="relative">
      <h1
        class="text-4xl font-extrabold tracking-normal text-gray-900 sm:text-5xl xl:text-6xl leading-relaxed"
      >
        Create <span
          class="text-blue-500 bg-gradient-to-r from-blue-500 to-purple-600 bg-clip-text text-transparent"
          >Viral</span
        > Tweet Hooks In Seconds
      </h1>
    </div>
    <p class="my-8 text-lg text-gray-600 md:text-xl">
      Grow your Twitter like never before. More impressions, more engagement,
      more followers.
    </p>
    <a
      href=""
      class="bg-blue-500 px-6 py-3 text-white font-bold rounded ring hover:text-blue-500 hover:bg-white focus:outline-none hover:ring-2 hover:ring-offset-2 hover:ring-blue-500"
      >Get My Hooks Now</a
    >
    <Rating />
  </div>
  <div class="flex flex-col items-center justify-center w-full lg:w-1/2 p-8">
    <a href="#"><img src="/assets/image/hero.png" class="" /></a>
  </div>
</div>
